Importing numpy & pandas

In [2]:
import numpy as np
import pandas as pd

Importing lending club data

In [3]:
loans = pd.read_csv('file:\\Users\Auguste\Desktop\data analytics\EDA\loans_2007.csv')

Showing data snapshot (e.g. print top 5 rows of the data)

In [4]:
loans.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,zip_code,dti,delinq_2yrs,fico_range_high,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,860,27.65,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2500.0,15.27,59.83,0,30000.0,0,309,1.00,0.0,744.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2400.0,15.96,84.33,10,12252.0,1,606,8.72,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,10000.0,13.49,339.31,10,49200.0,1,917,20.00,0.0,694.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5000.0,7.90,156.46,3,36000.0,1,852,11.20,0.0,734.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

Showing data dimensions (rows x columns)

In [15]:
loans.shape

(39252, 41)

Listing variables in the data + variable type (numeric, character, float, etc.)

In [6]:
loans.dtypes

loan_amnt                              float64
int_rate                               float64
installment                            float64
emp_length                               int64
annual_inc                             float64
loan_status                              int64
zip_code                                 int64
dti                                    float64
delinq_2yrs                            float64
fico_range_high                        float64
inq_last_6mths                         float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                             float64
total_acc                              float64
last_fico_range_high                   float64
home_ownership_MORTGAGE                float64
home_ownership_NONE                    float64
home_ownership_OTHER                   float64
home_ownership_OWN                     float64
home_ownership_RENT                    float64
verification_status_Not Verified       float64
verification_status_Source Verified    float64
verification_status_Verified           float64
purpose_car                            float64
purpose_credit_card                    float64
purpose_debt_consolidation             float64
purpose_educational                    float64
purpose_home_improvement               float64
purpose_house                          float64
purpose_major_purchase                 float64
purpose_medical                        float64
purpose_moving                         float64
purpose_other                          float64
purpose_renewable_energy               float64
purpose_small_business                 float64
purpose_vacation                       float64
purpose_wedding                        float64
term_ 36 months                        float64
term_ 60 months                        float64
dtype: object

Finding max and min loan amounts

In [6]:
loans['loan_amnt'].max()

35000.0

In [7]:
loans['loan_amnt'].min()

500.0

Average loan amount

In [8]:
loans['loan_amnt'].mean()

11137.18027106899

Count of loans by it's purpose

In [7]:
(loans.filter(regex='purpose')).sum()

purpose_car                    1536.0
purpose_credit_card            5079.0
purpose_debt_consolidation    18376.0
purpose_educational             325.0
purpose_home_improvement       2951.0
purpose_house                   372.0
purpose_major_purchase         2184.0
purpose_medical                 690.0
purpose_moving                  582.0
purpose_other                  3938.0
purpose_renewable_energy        103.0
purpose_small_business         1797.0
purpose_vacation                378.0
purpose_wedding                 941.0
dtype: float64

List of top 10 loans loan amounts & their purposes

In [10]:
loans.columns

Index(['loan_amnt', 'int_rate', 'installment', 'emp_length', 'annual_inc',
       'loan_status', 'zip_code', 'dti', 'delinq_2yrs', 'fico_range_high',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'last_fico_range_high', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding', 'term_ 36 months',
       'term_ 60 months'],
      dtype='object')

In [16]:
loans[['loan_amnt', 'purpose_debt_consolidation',
       'purpose_home_improvement', 'purpose_major_purchase', 'purpose_other', 'purpose_small_business']].sort_values(['loan_amnt'], ascending = False).head(10)

,loan_amnt,purpose_debt_consolidation,purpose_home_improvement,purpose_major_purchase,purpose_other,purpose_small_business
11423,35000.0,0.0,1.0,0.0,0.0,0.0
9446,35000.0,0.0,0.0,0.0,1.0,0.0
15145,35000.0,0.0,0.0,1.0,0.0,0.0
14515,35000.0,1.0,0.0,0.0,0.0,0.0
2843,35000.0,1.0,0.0,0.0,0.0,0.0
15479,35000.0,0.0,1.0,0.0,0.0,0.0
1561,35000.0,0.0,0.0,0.0,0.0,1.0
14824,35000.0,1.0,0.0,0.0,0.0,0.0
14893,35000.0,1.0,0.0,0.0,0.0,0.0
17221,35000.0,1.0,0.0,0.0,0.0,0.0

In [58]:
maxloans.index

Int64Index([11423, 9446, 15145, 14515, 2843, 15479, 1561, 14824, 14893, 17221], dtype='int64')